.app-container {
    display: flex;
    flex-wrap: wrap;
    --dark-grey-color: #44475a;
    --lighter-grey-color: #6272a4;
    --black-color: #282a36;
    --white-color: #f8f8f2;
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    font-family: Verdana,Geneva,sans-serif; 
    color: #f8f8f2;
  }
  
  .sidebar {
    flex-basis: 10rem;
    flex-grow: 1;
    background-color: var(--dark-grey-color);
    height: 100%;
  }
  
  .main-panel {
    flex-basis: 0;
    flex-grow: 999;
    font: white;
    background-color: var(--black-color);;
  }

  #header-bar {
      width: 100%;
      background-color: var(--lighter-grey-color);
      height: 1.8em;
  }

  #header-items {
    margin-left: 0.25em;
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
  }

  .editor-tab {
    margin-right: 0.25em;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    padding-left:0.25em;
    padding-right:0.25em;
    border-radius: 0.1em;
  }
  
  #profile-button {
    width: 100%;
    height: 16em;
  }

  .email-subtitle {
    font-size: 0.7em;
  }

  .panel-button {
      width: 100%;
      cursor: pointer;
      margin: 0.25em;
      padding: 0.25em;
      border-left: 1px solid grey;
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
      border-radius: 0.25em;
      z-index: 0;
  }

  .hidden {
    display: none;
  }

  .clickable {
    cursor: pointer;
  }
  
  .clickable:hover {
    filter: brightness(65%);
  }

  .clickable.close-button:hover {
    color: red;
  }

  .editor-panel {
    z-index: 100;
    padding: 1rem;  
    overflow-y: scroll;
    height: 100%;
  }

  .editor-section > h1 {
    font-family: monospace, monospace !important;
  }

  .editor-section > h2 {
    font-family: monospace, monospace;
  }

  .editor-section > h3 {
    font-family: monospace, monospace;
    font-size: 0.8em;
  }